#panel {
    position: absolute;
    left: 160px;
    top:200px;
    display: inline-block;
    width: 180px;
    padding: 5px 70px;
    .panel-button {
        margin-bottom: 100px;
    }
    .panel-popover {
        position: absolute;
        left: -135px;
    }
    #popoverStart {
        top: -100px;
    }
    #popoverEnd
    {
        top: 40px;
    }
    #popoverSource
    {
        top: 180px;
    }
    #popoverTarget
    {
        top: 320px;
    }
    .cover {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}